<a href="https://colab.research.google.com/github/umar-faroooq/Data-science/blob/master/arg_kwargs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def multiply(a, b):
    return a * b

multiply(3, 4)

12

In [3]:
def multiply(a, b, c):
    return a * b * c
multiply(3,4,5)

60

In [7]:
# one thing we can do we can take a list of numbers and iterate throug it 
def multiply(number):
  results = 1 
  for n in number:
    results *= n
  return results
multiply([2,4])

8

In [8]:
multiply([2,4,8, 31])

1984

In [10]:
# the alternate approach is bu using keywords in function defination with "*"
def multiply(*numbers):
    result = 1
    for n in numbers:
        result = result * n
    return result
print(multiply(2,3))
print(multiply(2,3,4,4))
print(multiply(2,3,5,6,6))

6
96
1080

In [11]:
# apart from that we can use arguments in this way as well:

def function(a, b, *args):
    print(a, b)
    print(args)

print(function(2,3))
print(function(2,3,5,6,6))
print(function(2,3,4,4))

2 3
()
None
2 3
(5, 6, 6)
None
2 3
(4, 4)
None

In [12]:
def someFunction(a, b, *args, keyword=True, **kwargs):
    print(a, b)
    print(args)
    print(keyword)
    print(kwargs)

print(someFunction(3,4))

3 4
()
True
{}
None

In [13]:
# in the above output we can see that arg are list/tupple while keyword arguemnts are dictionaries
print(someFunction(3,4, Ali=43))

3 4
()
True
{'Ali': 43}
None

In [15]:
# in the above example we can see there's no error even there's no values specified for arguments
print(someFunction(3,4,5,56,6,7,7, Ali=43, Umar=55))

3 4
(5, 56, 6, 7, 7)
True
{'Ali': 43, 'Umar': 55}
None

In [ ]:
someFunction(a=1, b=2, 5, 3, 4, param=42)
#Using this will cause an error because python is not able to figure out which are keywordss

In [18]:
def someFunction(a, b, *args, keyword=True, **kwargs):
    print(a, b)
    print(args)
    print(keyword)
    print(kwargs)

d = {'Alli': 43, 'Umar': 44}
li = [3,4,5,6,7,7,8]
someFunction(1, 2, *li, Abdullah=42, **d)

1 2
(3, 4, 5, 6, 7, 7, 8)
True
{'Abdullah': 42, 'Alli': 43, 'Umar': 44}

In [20]:
d = {'Alli': 43, 'Umar': 44}
li = [3,4,5,6,7,7,8]
someFunction(1, 2, *[3,4,5,6,7,7,8], **{'Alli': 43, 'Umar': 44, 'Abdullah':42})

1 2
(3, 4, 5, 6, 7, 7, 8)
True
{'Alli': 43, 'Umar': 44, 'Abdullah': 42}